[Unit]
Description=webapp (managed by samosbor)

[Service]
ExecStart=/home/user/.local/state/samosbor/webapp/build/venv/bin/python -m webapp
WorkingDirectory=/home/user/.local/state/samosbor/webapp/src
Environment="VIRTUAL_ENV=/home/user/.local/state/samosbor/webapp/build/venv"
Environment="PATH=/home/user/.local/state/samosbor/webapp/build/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
Restart=always
RestartSec=2
TimeoutStopSec=30

[Install]
WantedBy=default.target
